In [ ]:
import numpy as np

Bad pipe message: %s [b' q=0.9, image/avif, image/webp, image/apng, */*; q=0.8, application/signed-exchange; v=b3; q=0.7\r\nHost: loc', b'host:43863\r\nUser-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, lik']
Bad pipe message: %s [b'Gecko) Chrome/140.0.0.0 Safari/537.36\r\nAccept-Encoding: gzip, deflate, br, zstd\r\nAccept-Language: en']
Bad pipe message: %s [b'B, en-US; q=0.9, en; q=0.8, it; q=0.7\r\nCache', b'ontrol: max-age=0\r\nReferer: https://studious', b'pace-engine-pxv57wq6vgxfrvq6.github.dev/\r\nX-', b'quest-ID: c12ed453cb6bf37e9cb135226f87a7f4\r\nX-Real-IP: 10.241.0.36\r\nX-Forwarded-P', b't: 443\r\nX-Forwarded-Scheme: https\r\nX-Original-URI: /\r\nX-Scheme: https\r\nsec-fetch-site: same-site\r\nsec-fetch-mo']
Bad pipe message: %s [b': navigate\r\nsec-fetch-dest: document\r\nsec-ch-ua: "Chromium";v="140", "Not=A?Brand";v="24", "Google ', b'rome";v="140"\r\nsec-ch-ua-mobile: ?0\r\nsec-ch-ua-platform: "Windows"']
Bad pipe message: %s [b'priority: u=']
Bad pipe message: %s [b' i\r\nx-original-proto: https\r\nX-Forwarded-Proto:']
Bad pipe message: %s [b'ttps\r\nX-Forwarded-Host: studiou']

In [20]:
zeros_array = np.zeros(10)

In [21]:
np

In [22]:
zeros_array

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [7]:
my_list = [2, 3, 4]
array_from_list = np.array(my_list)

In [8]:
my_list

[2, 3, 4]

In [9]:
array_from_list

array([2, 3, 4])

In [10]:
np.zeros((5, 2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [11]:
np.full((5, 2), 3)

array([[3, 3],
       [3, 3],
       [3, 3],
       [3, 3],
       [3, 3]])

In [12]:
arr = np.array([[2, 3, 4], [4, 5, 6]])

In [13]:
arr

array([[2, 3, 4],
       [4, 5, 6]])

In [14]:
arr[0,1]

np.int64(3)

In [15]:
arr[0,1]=20

In [16]:
arr

array([[ 2, 20,  4],
       [ 4,  5,  6]])

In [17]:
arr[0]

array([ 2, 20,  4])

In [18]:
arr[:,0]

array([2, 4])

In [23]:
import pandas as pd

pd.__version__

'2.3.1'

Getting the data
For this homework, we'll use the Car Fuel Efficiency dataset. Download it from here.

In [ ]:
df = pd.read_csv("car_fuel_efficiency.txt")
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

Q2. Records count
How many records are in the dataset?

4704
8704
9704
17704

In [27]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

Q3. Fuel types
How many fuel types are presented in the dataset?

1
2
3
4

In [35]:
df.nunique()

engine_displacement      36
num_cylinders            14
horsepower              192
vehicle_weight         9704
acceleration            162
model_year               24
origin                    3
fuel_type                 2
drivetrain                2
num_doors                 9
fuel_efficiency_mpg    9704
dtype: int64

Q4. Missing values
How many columns in the dataset have missing values?

0
1
2
3
4

In [39]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [ ]:
Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

13.75
23.75
33.75
43.75

In [44]:
df[df["origin"]=='Asia']["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

Q6. Median value of horsepower
1. Find the median value of horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.
Has it changed?

Yes, it increased
Yes, it decreased
No

In [46]:
h_median = df["horsepower"].median()
print(h_median)

h_mode = df["horsepower"].mode()
print(h_mode)

df["horsepower"].fillna(h_mode)

df["horsepower"].median()

149.0
0    152.0
Name: horsepower, dtype: float64

np.float64(149.0)

Q7. Sum of weights
1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?
Note: You just implemented linear regression. We'll talk about it in the next lesson.

0.051
0.51
5.1
51

In [ ]:
df_asia = df[df["origin"]=="Asia"]

df_asia = df_asia[["vehicle_weight", "model_year"]]

X = df_asia.iloc[[1,2,3,4,5,6,7]].values

type(X)

numpy.ndarray

In [56]:
def vector_vector_multiplication(u, v):
    assert u.shape[0] == v.shape[0]
    
    n = u.shape[0]
    
    result = 0.0

    for i in range(n):
        result = result + u[i] * v[i]
    
    return result


def matrix_vector_multiplication(U, v):
    assert U.shape[1] == v.shape[0]
    
    num_rows = U.shape[0]
    
    result = np.zeros(num_rows)
    
    for i in range(num_rows):
        result[i] = vector_vector_multiplication(U[i], v)
    
    return result


def matrix_matrix_multiplication(U, V):
    assert U.shape[1] == V.shape[0]
    
    num_rows = U.shape[0]
    num_cols = V.shape[1]
    
    result = np.zeros((num_rows, num_cols))
    
    for i in range(num_cols):
        vi = V[:, i]
        Uvi = matrix_vector_multiplication(U, vi)
        result[:, i] = Uvi
    
    return result

In [60]:
XTX = matrix_matrix_multiplication(X.T, X)
XTX

array([[63629225.41844901, 41910204.77217805],
       [41910204.77217805, 28357227.        ]])

In [61]:
invXTX = np.linalg.inv(XTX)
invXTX

array([[ 5.92217551e-07, -8.75260434e-07],
       [-8.75260434e-07,  1.32884446e-06]])

In [65]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
type(y)

numpy.ndarray

In [69]:
w = matrix_vector_multiplication(
        matrix_matrix_multiplication(invXTX, X.T), 
        y
)
w

array([0.24872715, 0.15757514])

In [70]:
sum(w)

np.float64(0.40630229509888205)